{% extends "base.html" %}

{% block content %}

    <head>
        <!-- Autocomplete feature for search bar-->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function() {
                $("#asin_choice").autocomplete({
                    source: "{% url 'index' %}"
                });
            });
        </script>
    </head>

    <!-- NAVIGATION -->
    <nav class="navigation">
        <div class="nav-scroll">
            <ul class="nav-buttons">
                <li><a href="#package">Search Our Repository</a></li>
                <li><a href="#download">Search By Link</a></li>
                <li><a href="#intro">About</a></li>
            </ul>
        </div>
    </nav>


    <!-- search section -->
    <div>
        <h1 class="title-introduction"> 
            Fakeology 
        </h1>

        <p class="landing-text">
            Search an asin in our Amazon dataset to get started
        </p>

        <div action="" class="search">
            <form method="get">
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    
    <!-- description section -->
    <div id="intro">
            <div class="container">
            <div class="row">
        
        <!-- feature image -->
                <div class="col-md-6 feature-2-pic wow fadeInLeft">
                    {% load static %}
                    <img src="{% static 'images/description.jpg' %}" alt="image" class="img-responsive">
                </div>	
                
                <!-- feature content -->
                <div class="col-md-6 wow fadeInRight">
                    <h2>What is Fakeology?</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset.
                    </p>
                </div>
                            
            </div>			  
    
        </div>
    </div>

    <!-- feature section -->
    <div id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center feature-title">

                <!-- feature title -->
                    <h2>Have Confidence In Your Next Purchase</h2>
                    <p>Avoid dishonest sellers and reviews for free. Fakespot uses a variety of text classification and
                        anomaly detection software algorithms to determine if seller reviews are fake.</p>
                </div>
            </div>
            <div class="row row-feat">
                
                <div class="col-md-12">

                    <!-- feature 1 -->
                    <div class="col-sm-4 feat-list">
                        <i class="fa fa-clock-o wow fadeInUp"></i>
                        <div class="inner">
                            <h4>Click of a button</h4>
                            <p>Analyze any review on Amazon with the click of a button. Simply copy and paste a link into our site, or search our repository for products we have already analyzed.</p>
                        </div>
                    </div>
                
                    <!-- feature 2 -->
                    <div class="col-sm-4 feat-list">
                        <i class="fa fa-pie-chart wow fadeInUp" data-wow-delay="0.2s"></i>
                        <div class="inner">
                            <h4>Detailed Reports</h4>
                            <p>Get a detailed reports highlighting statistical analysis performed on a product of your choosing. Use this information to asisst in purchase decisions and avoid spam.</p>
                        </div>
                    </div>
                
                    <!-- feature 3 -->
                    <div class="col-sm-4 feat-list"> 
                        <i class="fa fa-search wow fadeInUp" data-wow-delay="0.4s"></i>
                        <div class="inner">
                            <h4>Machine Learning</h4>
                            <p>Use a service backed by varying machine learning algorithms that target average rating anomalies, review timing anomalies, incentivized word count, and review text similarity.</p>
                        </div>
                    </div>
                
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="col-sm-4 col-sm-offset-4">
                <!-- social links -->
                    <div class="social text-center">
                        <ul>
                            <li><a class="wow fadeInUp" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="wow fadeInUp" href="https://www.facebook.com/" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="wow fadeInUp" href="https://plus.google.com/" data-wow-delay="0.4s"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="wow fadeInUp" href="https://instagram.com/" data-wow-delay="0.6s"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>	
            </div>	
        </div>	
    </footer>
</div>
{% endblock %}
