{% extends "base.html" %}

{% block content %}
    <!-- HEAD -->
    <head>
        <!-- Autocomplete feature for search bar-->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function() {
                $("#id_asin_choice").autocomplete({ 
                    source: function(request, response) {
                        $.ajax({
                            url: "{% url 'index' %}",
                            dataType: "json",
                            data: {
                                asin_id : request.term,
                                category_id : $("#id_category_choice :selected").val()
                            },
                            success: function(data) {
                                response(data);
                            }
                        });
                    },
                });
            });
        </script>
    </head>
    
    <!-- NAVIGATION -->
    <nav class="nav-bar">
        <div class="logo">
            {% load static%}
            <a href="" class="logo"><img src="{% static 'images/logo2.png' %}" alt="Logo for Fake Review Checker"></a>
        </div>
        <div class="nav-buttons">            
            <a id="current-page" href="">Search Our Repository</a>
            <a href="{% url 'search_link'%}">Search By Link</a>
            <a href="{% url 'about'%}">About</a>
        </div>
    </nav>

    <!-- SEARCH -->
    <section class="search">
        <head>
            <h1> Search Analyzed Products </h1>
            <p> No need to wait for an analysis! Search our repository of analyzed products to see past scores. </p>
            <p> Enter an asin into the search bar to get started </p>
        </head>

        <form method="get">
            <div class="container">
                <div class="category_form">
                    {{ asin_form.category_choice }}
                </div>
                <div class="error_form">
                    {{ asin_form.asin_choice.errors.as_text }}
                </div>
                <div class="asin_form">
                    {{ asin_form.asin_choice }}
                </div>
                <div class="submit_form">
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>
    </section>

    <!-- FEATURES -->
    <section class="features">
        <!-- feature title -->
        <div class="features-title">
            <h2>Have Confidence In Your Next Purchase</h2>
            <p>Avoid dishonest sellers and reviews for free. Fakespot uses a variety of text classification and
               anomaly detection software algorithms to determine if seller reviews are fake.</p>
        </div>

        <div class="container">
            <!-- feature 1 -->
            <div class="features-list">
                <h3> <i class="fa fa-clock-o"></i> Click of a button </h3>
                <p>Analyze any review on Amazon with the click of a button. Simply copy and paste a link into our site, or search our repository for products we have already analyzed.</p>
            </div>               

            <!-- feature 2 -->
            <div class="features-list">
                <h3> <i class="fa fa-pie-chart"></i> Detailed Reports </h3>
                <p>Get a detailed reports highlighting statistical analysis performed on a product of your choosing. Use this information to asisst in purchase decisions and avoid spam.</p>
            </div>               

            <!-- feature 3 -->
            <div class="features-list">
                <h3> <i class="fa fa-search"></i> Machine Learning </h3>
                <p>Use a service backed by varying machine learning algorithms that target average rating anomalies, review timing anomalies, incentivized word count, and review text similarity.</p>
            </div>          
        </div>         
    </section>

    <!-- DESCRIPTION -->
    <section class="description">
        <!-- description image -->
        <div class="description-pic">
            {% load static %}
            <img src="{% static 'images/description.jpg' %}" alt="image" class="img-responsive">
        </div>	
                
        <!-- description content -->
        <div class="description-text">
            <h2>What is Fakeology?</h2>
            <p> Fake reviews are a prominent issue that can significantly sway consumer purchase decisions. Therefore, many sellers will deliberately manipulate these reviews on their products and services to deceive possible buyers. </p>
            <p> Several factors contribute to biased, faked, or even automated reviews for products. Our system has three stages that utilize a number of machine learning detection algorithms to analyze the review data of a product to generate a cumulative ‘fake score’. </p>
            <p> These steps are duplicate review detection, detection of anomalies in review count and rating distributions over time, and incentivized review detection. </p>
            <p> This service is intended to be used as an asset for consumers when making purchase decisions. </p>
        </div>
    </section>                  

    <!-- footer -->
	<footer>
        <!-- social links -->
        <div class="social text-center">
            <ul>
                <li><a class="wow fadeInUp" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a class="wow fadeInUp" href="https://www.linkedin.com/" data-wow-delay="0.2s"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="wow fadeInUp" href="https://github.com/" data-wow-delay="0.6s"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>	
        <a href="#" class="scrollToTop"><i class="fa fa-arrow-circle-o-up"></i></a>
	</footer>

{% endblock %}
