{% extends "base.html" %}

{% block content %}
    
    <!-- NAVIGATION -->
    <nav class="nav-bar">
        <div class="logo">
            {% load static%}
            <a href="{% url 'index'%}" class="logo"><img src="{% static 'images/logo2.png' %}" alt="Logo for Fake Review Checker"></a>
        </div>
        <div class="nav-buttons">            
            <a href="{% url 'index'%}">Search Our Repository</a>
            <a id="current-page" href="">Search By Link</a>
            <a href="{% url 'about'%}">About</a>
        </div>
    </nav>

    <!-- SEARCH -->
    <section class="search">
        <h1> Analyze an Amazon URL </h1>
        
        <p class="instruction"> Paste a link to an Amazon product to analyze it for fake reviews.

        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="error_form">
                    {{ link_form.link_choice.errors.as_text }}
                </div>
                <div class="link_form">
                    {{ link_form.link_choice }}
                </div>
                <div id="search-link-button" class="submit_form">
                    <button type="submit">Search</button>
                </div>
            </div>
        </form>
    </section>


{% endblock %}
