{% extends "base.html" %}

{% block content %}
    <!-- NAVIGATION -->
    <nav class="nav-bar">
        <div class="logo">
            {% load static%}
            <a href="{% url 'index'%}" class="logo"><img src="{% static 'images/logo2.png' %}" alt="Logo for Fake Review Checker"></a>
        </div>
        <div class="nav-buttons">            
            <a href="{% url 'index'%}">Search Our Repository</a>
            <a id="current-page" href="">Search By Link</a>
            <a href="{% url 'about'%}">About</a>
        </div>
    </nav>

    <!-- SEARCH -->
    <section class="search">
        <h1> Analyze an Amazon URL </h1>
        
        <p> Paste a link to an Amazon product to analyze it for fake reviews.

        <form method="get">
            <label for="asin_choice">URL: </label>
            <input id="asin_choice" type="text" name="asin_choice">
            <input type="submit" value="Search">
        </form>
    </section>           

    <!-- footer -->
	<footer>
        <!-- social links -->
        <div class="social text-center">
            <ul>
                <li><a class="wow fadeInUp" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a class="wow fadeInUp" href="https://www.linkedin.com/" data-wow-delay="0.2s"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="wow fadeInUp" href="https://github.com/" data-wow-delay="0.6s"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>	
        <a href="#" class="scrollToTop"><i class="fa fa-arrow-circle-o-up"></i></a>
	</footer>

{% endblock %}
